
body {
    font-family: 'Montserrat', sans-serif;
}

/* make custom theme button */
.btn-primary {
    border-radius: 0;
    background-color: #007fb8;
}

@media (min-width: 320px) and (max-width: 414px) {
    .menu-items.position-fixed.py-5.bg-white.shadow-lg {
        max-height: 160px;
        overflow: scroll;
    }
    a.btn-checkout {
        margin-bottom: 0.8rem;
    }
    a.view-cart {
        margin-bottom: 0.8rem;
    }
    .fix-width {
        overflow: scroll;
    }
    .checkout-fix-mob {
        width: 100% !important;
    }
}

@media(max-width: 574px) {
    button.btn.btn-success.my-2.my-sm-0.px-4.position-absolute.rounded-pill {
        top: -8px;
        right: 16px;
    }
}

@media(max-width: 553px) {
    .qty input.btn.btn-default.rounded-0.border.border-dark.d-sm-block.d-md-inline.m-auto {
        margin: .5rem 0 !important;
    }
}

.scroll-to-top {
    display: none;
    bottom: 60px;
    right: 15px;
    font-size: 20px;
    background-color: #000;
    border-color: #000;
    z-index: 100;
}

.scroll-to-top:hover {
    background-color: #007FB8;
    border-color: #007FB8;
}

.custom-top-nav {
    font-size: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}


.log-register li {
    background-color: #eeeeee;
    border-bottom: 3px solid #eeeeee;
    font-size: 24px;
    opacity: .5;
    cursor: pointer;
}

.log-register li.active {
    background-color: transparent;
    border-bottom: 3px solid #007FB8;
    font-size: 24px;
    color: #007fb8;
    opacity: 1;
    font-weight: 500;
}

.dropdown-menu {
    border-bottom: 3px solid #007FB8;
    border-radius: 0;
    min-width: 0;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #007FB8;
}

.login a {
    color: rgba(0, 0, 0, .5);
    font-size: 14px;
}

.login a:hover {
    color: #007FB8;
    text-decoration: none;
}

.logo img {
    width: 115px;
}

.search button {
    right: 0;
    top: 0;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    background-color: #007FB8;
    border-color: #007FB8;
}

.search button:hover {
    background-color: hsl(199, 100%, 40%);
    border-color: hsl(199, 100%, 40%);
}



.nav-categories {
    background-color: #007FB8;
    color: #FFF;
}


.nav-categories a {
    border-right: 1px solid hsl(199, 100%, 30%);
    font-size: 12px;
    color: #FFF !important;
    transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
}

.main-nav ul li a:hover {
    background-color: #EEEEEE;
}

.main-nav ul li a:hover {
    color: rgba(0, 0, 0, .8) !important;
}

.cart-control {
    cursor: pointer;
    background: #007fb8;
    border: 1px solid #004b91;
    background: linear-gradient(to bottom, #007fb8 1%, #6ebad5 3%, #007fb8 7%, #007fb8 100%);
}

.cart-items {
    display: none;
    z-index: 102;
    right: 130px;
}

@media(max-width: 993px) {
    .cart-items {
        width: 50% !important;
    }
}

.cart-control:hover .cart-items {
    display: block;
}

.cart-control i {
    color: #fdd922;
}


.cart-items .btn-checkout {
    background: #007fb8;
    color: #fff;
    font-size: 11px;
    padding: 8px 16px;
    font-family: 'Roboto';
    text-align: left;
    cursor: pointer;
    text-decoration: none;
    /* float: right; */
    transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
    border: 1px solid #007fb8;
    font-weight: bold;
    text-transform: uppercase;
    line-height: normal;
}

.cart-items .btn-checkout:hover {
    background: hsl(199, 100%, 28%);
}

.cart-items .view-cart {
    background: #fdd922;
    color: #222;
    font-size: 11px;
    padding: 8px 16px;
    font-family: 'Roboto';
    text-align: left;
    cursor: pointer;
    text-decoration: none;
    /* float: left; */
    transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
    border: 1px solid #e0bc27;
    font-weight: bold;
    text-transform: uppercase;
    line-height: normal;
}

.cart-items .view-cart:hover {
    background: hsl(50, 98%, 47%);
}

.menu-items {
    display: none;
    z-index: 9999;
    /* top: 271px; */
    border-bottom: 4px solid #007fb8;
}

.menu-items .list-group-item {
    background-color: transparent;
}

.menu-items a {
    border: none;
    color: rgba(0, 0, 0, .8) !important;
}

.menu-control > a span {
    width: 200px;
    color: #525252 !important;
    background: linear-gradient(to bottom, #FFEB3B, #dcbc16);
    font-size: 18px;
    border-right: 1px solid #f0d62b;
    cursor: pointer;
    padding-top: .94rem;
    padding-bottom: 1rem;
    font-weight: 700;
}

.menu-control:hover .menu-items {
    display: block;
}

.overlay-effect {
    overflow: hidden;
    top: 0;
    content: "";
    z-index: 100;
    width: 96%;
    height: 100%;
    left: 8px;
    opacity: 0;
    transition: all 0.3s ease 0s;
    transform: scale(0.5) rotateY(180deg);
    background-image: url('../img/plus.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #666;
}

.ads:hover .overlay-effect {
    visibility: visible;
    opacity: 0.6;
    transform: scale(1) rotateY(0deg);
    cursor: pointer;
}


/* top category */

.top-nav-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    z-index: 1;
    bottom: 0;
    display: none;
}
.z-order {
    z-index: 2;
}

.top-cat .list-group-item:not(.active) {
    font-size: 14px;
}

.top-cat .list-group-item > div {
    top: calc(231px + 100px);
    left: 365px;
    z-index: 50;
    min-height: 264px;
    display: none;
}


/* .top-cat .list-group-item > div h4 {
    position: relative;
}

.top-cat .list-group-item > div h4::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-width: 15px;
    border-style: solid;
    border-color: transparent #f8f9fa transparent transparent;
    top: 3px;
    left: -78px;
} */


.top-cat .list-group-item:hover {
    background-color: #004b91;
}

.top-cat .list-group-item a {
    color: #004b91;
}

.top-cat .list-group-item i {
    color: rgba(0, 75, 145, .3);
}

.top-cat .list-group-item:hover a {
    color: #FFF;
}

.top-cat .list-group-item:hover i {
    color: rgba(0, 0 , 0, .8);
}

.top-cat .list-group-item:hover div {
    display: block;
}

@media(max-width: 992px) {
    .top-cat .list-group-item:hover div {
        display: none;
    }
}


#hidden-nav .list-unstyled a {
    color: rgba(0, 0, 0, .8);
}


/* top category */

/* flexslider */
ol.flex-control-nav.flex-control-paging {
    display: none;
}

.custom-navigation {
    bottom: 213px;
    font-size: 1.5rem;
}

.custom-navigation .flex-prev {
    left: 3px;
    background-color: rgba(0, 0, 0, .3);
}

.custom-navigation .flex-next {
    right: 3px;
    background-color: rgba(0, 0, 0, .3);
}

@media(min-width: 992px) and (max-width: 1200px) {
    .custom-navigation {
        bottom: 195px;
    }
}

@media(max-width: 990px) {
    .custom-navigation {
        bottom: 311px;
    }
}
@media(max-width: 764px) {
    .custom-navigation {
        bottom: 230px;
    }
}

/* flexslider */

.list-group .active {
    color: #ffffff ;
    background: linear-gradient(to bottom, #007fb8 1%, #6ebad5 3%, #007fb8 7%, #007fb8 100%);
}

.labeling {
    border-bottom: 3px solid #FDD922;
}

.see-more-ult {
    font-size: 14px;
}

.old-price {
    text-decoration: line-through;
}

.current-price {
    color: hsl(199, 100%, 45%);
}

.offers img {
    max-height: 135px;
}

.cart-btn {
    border-radius: 0;
    background-color: #007FB8;
    font-size: 12px;
    border-color: transparent;
    transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
}

.cart-btn:hover {
    background-color: #FFC60A;
    border-color: transparent;
    color: #525252;
}

.cart-btn i,
.cart-control i {
    transform: scaleX(-1);
}

.custom-title {
    height: 53px;
    overflow: hidden;
    color: rgba(0, 0, 0, .5);
}

.custom-title:hover {
    text-decoration: none;
    color: hsl(199, 100%, 45%);;
}

.stars {
    font-size: 12px;
}

/* .owl-carousel .owl-nav {
    position: absolute;
    top: -63px;
    right: 0;
} */

.owl-carousel .owl-nav button:hover {
    background: transparent !important;
    color: #007FB8 !important;
}


.owl-carousel .owl-nav span {
    font-size: 3rem;
}


.owl-carousel .owl-dots {
    padding: 1rem 0;
}


.custom-badge {
    background-color: #D12631;
    right: 0;
    font-size: 11px;
    letter-spacing: 0.05em;
}

#lower-ads img {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    display: block;
    object-fit: contain;
    height: 123px;
}

.fam-brand .card {
    border: 0;
    width: 120px;
    margin: 0 auto;
}

.fam-brand img {
    max-width: 100%;
    height: 70px;
}

.sponsers .owl-dots {
    display: none;
}

.news {
    background-color: #041C2F;
}

.news input {
    /* width: 100% !important; */
    border-radius: 0;
    border: none;
}

.news label {
    line-height: 38px;
}

.news button {
    background: #fdd922;
    height: 38px;
    border: 0 none;
    border-radius: 0;
    overflow: hidden;
    cursor: pointer;
    color: #222;
    transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
}

.sitemap .list-group .list-group-item {
    border: none;
    padding: .3rem 0;
    background-color: transparent;
    font-size: 13px;
}

#sitemap-c .list-group .list-group-item {
    border: none;
    padding: .3rem 0;
}

footer {
    background-color: #0A3151;
}

.copyright {
    background-color: #041C2F;
}

.copyright img {
    height: 38px;
}

.copyright p {
    line-height: 38px;
    font-size: 13px;
}

.about h4 {
    color: #007FB8;
}

.about a {
    color: rgba(0, 0, 0, .8);
}

.about a:hover {
    color: #007FB8;
    text-decoration: none;
}

.contact .c-info {
    background-color: #EEEEEE;
    border: 1px solid hsl(0, 0%, 88%);
}

.contact h4 {
    color: #007FB8;
}

.contact h6 {
    color: #007FB8;
}

.contact i {
    font-size: 13px;
}

.map .map-frame {
    height: 300px;
}

.image-product {
    cursor: pointer;
}

.thumb-nails ul li {
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.d-product h3 {
    color: #f00;
}

.d-product sup {
    text-decoration: line-through;
    color: #777777;
}

.select-style-sizes li {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #aaa;
    cursor: pointer;
}

.select-style-sizes li.size-selected {
    background-color: #007fb8;
    border: 2px solid #000;
    line-height: 37px;
}

.select-style-colors li {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.select-style-colors li:nth-child(1) {
    background-color: #cf455c;
}

.select-style-colors li:nth-child(2) {
    background-color: #21bf73;
}

.select-style-colors li:nth-child(3) {
    background-color: #d89cf6;
}

.select-style-colors li:nth-child(4) {
    background-color: #ee8572;
}

.select-style-colors .color-selected {
    position: relative;
    border: 2px solid #000;
}

.select-style-colors .color-selected::after {
    position: absolute;
    content: url('../img/check.png');
    text-align: center;
    width: 100%;
    line-height: 47px;
}

/* remove tiny arrow */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

.more-details {
    cursor: pointer;
}

.more-details ul li.active {
    border-bottom: 2px solid #007fb8
}

.review {
    cursor: pointer;
    font-size: 20px;
}

.opacity-normal {
    opacity: .5;
}

.review .one:hover .opacity-normal,
.review .two:hover .opacity-normal,
.review .three:hover .opacity-normal,
.review .four:hover .opacity-normal,
.review .five:hover .opacity-normal {
    opacity: 1;
}

.review .one:hover i:nth-child(1) {
    color: #FFC107;
}

.review .two:hover i:nth-child(1),
.review .two:hover i:nth-child(2) {
    color: #FFC107;
}

.review .three:hover i:nth-child(1),
.review .three:hover i:nth-child(2),
.review .three:hover i:nth-child(3) {
    color: #FFC107;
}

.review .four:hover i:nth-child(1),
.review .four:hover i:nth-child(2),
.review .four:hover i:nth-child(3),
.review .four:hover i:nth-child(4) {
    color: #FFC107;
}

.review .five:hover i:nth-child(1),
.review .five:hover i:nth-child(2),
.review .five:hover i:nth-child(3),
.review .five:hover i:nth-child(4),
.review .five:hover i:nth-child(5) {
    color: #FFC107;
}

#customer-reviews .progress.rounded-pill {
    margin-bottom: 0.8rem;
}



.cart td {
    vertical-align: middle;
}

.cart .qty button {
    font-size: 10px;
}

.cart .qty input {
    font-size: 10px;
    width: 36px;
}

.sub-total p{
    color: #007fb8;
}


.checkoutsub-total button{
    background-color: #007fb8 !important;
}

/* .checkout {
    width: 312px;
} */

/* category details */

.accordion .card {
    border: none;
}

.accordion .card-header {
    background: transparent;
    padding: 0;
}

.accordion .card-header button {
    color: #007fb8;
}

.accordion .card-header h2 i {
    font-size: 14px;
    color: rgba(0, 0, 0, .8);
    transform: rotateZ(0deg);
}
/* category details */

.fix-height-grid img {
    max-height: 120px;
}

/* list view */
.list-img {
    position: relative;
    padding-right: 15rem;
    padding-bottom: 15rem;
    background: red; 
}

.list-img img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    border-radius: 0;
}

.g-l-view-active {
    background-color: #007fb8;
    border-color: #eee !important;
    color: #FFF;
}

.g-l-view-active:hover {
    color: #FFF;
}

.page-item.active .page-link {
    background-color: #007fb8;
    border-color: #007fb8;
}

#filte-by-price {
    font-size: 1.7rem;
    letter-spacing: 2px;
}

input[type="range"] {
    cursor: pointer;
}

/* list view */